@model CineVerse.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Movie Details</h1>

<div class="row">
    <div class="col-md-4 text-center">
        @if (Model.Photo != null && Model.Photo.Length > 0)
        {
            var base64 = Convert.ToBase64String(Model.Photo);
            var imgSrc = $"data:image/jpeg;base64,{base64}";
            <img src="@imgSrc" alt="@Model.MovieName" class="img-fluid rounded shadow-sm" style="max-height: 500px; object-fit: contain;" />
        }
        else
        {
            <img src="~/images/default-movie.jpg" alt="No Image" class="img-fluid rounded shadow-sm" style="max-height: 500px; object-fit: contain;" />
        }
    </div>

    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.MovieName)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.MovieName)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Director)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Director)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ReleaseDate)</dt>
            <dd class="col-sm-8">@Model.ReleaseDate.ToString("yyyy-MM-dd")</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
        </dl>

        <div class="mt-4">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
